<%- include('Partial/header') -%>

<form action="/" method="post">
    <input type="text" name="item">
    <button type="submit" name="submited"> Process</button>
</form>

<%- include('Partial/footer') -%>